<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>カタログ画像検索</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Cecile Inc">
  <link rel="icon" href="https://cecile-dev.prm.bz/static/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="https://cecile-dev.prm.bz/static/css/common.css?v=0001">
  <script src="https://cecile-dev.prm.bz/static/js/common.js"></script>
</head>
<body>
  <div id="contents">
    <header class="sub">
      <div class="settings">
        <a href="https://cecile-dev.prm.bz/settings"><i class="material-icons submit">settings</i></a>
      </div>
      <img src="https://cecile-dev.prm.bz/static/images/logo.gif">
      <h3>カタログ画像検索</h3>
    </header>
    <div class="lenz">
      <div class="title-s">撮影した写真</div>
      <div class="photo"><img src="https://cecile-dev.prm.bz/static/images/s.gif" style="background-image:url(https://cecile-dev.prm.bz{{ filename_save }})"></div>

      <div class="title"><i class="material-icons submit">manage_search</i>検索された商品</div>
      <ol class="search_result">
        <li>
          <a href="https://www.cecile.co.jp/detail/UE-1519/">
            <img src="https://cecile-dev.prm.bz/static/images/s.gif" style="background-image:url(https://www.cecile.co.jp/cmdty/img/14101/512/14101UE-1519_D1.jpg)">
            <div>
              <p class="title">肌あたり優しいらくちん前開きパッド付きスリーブレス</p>
              <p><span>1,990円、2,390円(税込)</span></p>
            </div>
          </a>
      </ol>

      <div class="title"><i class="material-icons submit">image_search</i>類似商品</div>
      <ul class="similar">
        <li>
          <a href="https://www.cecile.co.jp/detail/UE-1512/">
            <img src="https://www.cecile.co.jp/cmdty/img/15101/512/15101UE-1512_1.jpg">
            <div>
              <p>肌あたり優しいらくちん前開きパッド付きスリーブレス</p>
              <p><span>1,990円、2,390円</span></p>
            </div>
          </a>
        <li>
          <a href="https://www.cecile.co.jp/detail/NT-477/">
            <img src="https://www.cecile.co.jp/cmdty/img/14303/512/14303NT-477_D1.jpg">
            <div>
              <p>ベーシックなタンクトップ</p>
              <p><span>748円</span></p>
            </div>
          </a>
        <li>
          <a href="https://www.cecile.co.jp/detail/UE-571/">
            <img src="https://www.cecile.co.jp/cmdty/img/15101/512/15101UE-571_1.jpg">
            <div>
              <p>カップ付きノースリーブ(立体カップで胸すっきりきれい)</p>
              <p><span>1,530円、1,860円</span></p>
            </div>
          </a>
        <li>
          <a href="https://www.cecile.co.jp/detail/NB-5931/">
            <img src="https://www.cecile.co.jp/cmdty/img/11116/512/11116NB-5931_E1.jpg">
            <div>
              <p>【ぽっちゃりさんサイズ】カップ付きレース使いタンクトップ</p>
              <p><span>2,194円～4,939円</span></p>
            </div>
          </a>
      </ul>
      <br style="clear:both;"/>
      <div class="title"><i class="material-icons submit">search</i>再検索</div>
    </div>
    <div class="camera">
      <div class="select_photo">
        <div>
          <div class="camera"><a href="https://cecile-dev.prm.bz/gallery"><i class="material-icons">add_a_photo</i><br />写真を撮る</a></div>
        </div>
      </div>

      <div class="detail_re">
        <p>再検索を行われる場合、上のカメラアイコンを選択し、検索する写真を撮影してください。</p>
      </div>
      <div class="history_menu">
        <a href="https://cecile-dev.prm.bz/history"><i class="material-icons">camera</i>過去に撮影した写真をみる</a>
      </div>
    </div>
  </div>
</body>
</html>
