<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/static/css/common.css?v=0001">
</head>
<body>
  <div id="contents">
    <header>
      <div class="settings">
        <a href="settings"><i class="material-icons submit">settings</i></a>
      </div>
      <img src="/static/images/logo.gif">
      <h3>カタログ画像検索</h3>
    </header>
    <div class="search_history">
      <div class="title"><i class="material-icons submit">history</i>検索履歴</div>
      <ul class="search_history">
        <li>
          <a href="/history/1627965388043.jpg">
            <img src="/static/media/20210803110645_scaled_image_picker4959075106236864670.jpg">
          </a>
        <li>
          <a href="/history/1627965388043.jpg">
            <img src="/static/media/20210803110111_scaled_image_picker992461097714249644.jpg">
          </a>
      </ul>
      <br style="clear:both;"/>
      <div class="title"><i class="material-icons submit">search</i>検索</div>
    </div>
    <div class="camera">
      <div class="select_photo">
        <div>
          <div class="camera"><a href="https://cecile-dev.prm.bz/gallery"><i class="material-icons">add_a_photo</i><br />写真を撮る</a></div>
        </div>
      </div>

      <div class="detail_re">
        <p>検索を行われる場合、上のカメラアイコンを選択し、検索する写真を撮影してください。</p>
      </div>
    </div>
  </div>
</body>
</html>
