<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
	<title>ファッションレンズ|セシール</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="author" content="Sockets Inc">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
	<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/common/swiper.min.css">
    <link rel="stylesheet" href="/static/css/common.css?v=1">
	<script src="/static/js/common/jquery-1.11.0.min.js"></script>
    <script src="/static/js/common/swiper.min.js"></script>
    <script src="/static/js/common.js"></script>
</head>
<body>
    <div id="wait">
        <img src="/static/photos/logo.png">
    </div>
    <div id="contents">
        <div class="viewer" style="display:none;">
            <input type="hidden" name="item">
            <input type="hidden" name="page">
            <input type="hidden" name="zoom">
            <input type="hidden" name="max">
            <table class="images"></table>
            <div class="controller">
                <table>
                    <tr>
                        <td disp="first"><i class="material-icons">first_page</i><p>最初</p>
                        <td disp="prev"><i class="material-icons">chevron_left</i><p>前頁</p>
                        <td disp="zoomout"><i class="material-icons">zoom_out</i><p>縮小</p>
                        <td disp="zoomin"><i class="material-icons">zoom_in</i><p>拡大</p>
                        <td disp="next"><i class="material-icons">chevron_right</i><p>次頁</p>
                        <td disp="last"><i class="material-icons">last_page</i><p>最後</p>
                        <td disp="website"><i class="material-icons">travel_explore</i><p>サイト</p>
                </table>
            </div>
        </div>
        <div class="container" style="display:none;">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="static/photos/banner/1.webp" alt=""></div>
                    <div class="swiper-slide"><img src="static/photos/banner/2.webp" alt=""></div>
                    <div class="swiper-slide"><img src="static/photos/banner/3.webp" alt=""></div>
                    <div class="swiper-slide"><img src="static/photos/banner/4.webp" alt=""></div>
                    <div class="swiper-slide"><img src="static/photos/banner/5.webp" alt=""></div>
                    <div class="swiper-slide"><img src="static/photos/banner/6.webp" alt=""></div>
                </div>
			    <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <!--
            <div class="title-s">最近チェックした商品</div>
            <div class="history">
                <table>
                    <tr>
                        <td><a href="https://www.cecile.co.jp/detail/YF-2178/?micd=06301&appno=298379" target="_blank"><img src="/static/photos/history/1.jpg"></a>
                        <td><a href="https://www.cecile.co.jp/detail/MP-2205/?micd=05146&appno=339528" target="_blank"><img src="/static/photos/history/2.jpg"></a>
                        <td><a href="https://www.cecile.co.jp/detail/MP-1605/?micd=07102&appno=280572" target="_blank"><img src="/static/photos/history/3.jpg"></a>
                        <td><a href="https://www.cecile.co.jp/detail/OC-1465/?micd=07102&appno=279585" target="_blank"><img src="/static/photos/history/4.jpg"></a>
                </table>
            </div>
            -->
            <div class="title">ピックアップ特集</div>
            <div class="feature">
                <table>
                    <tr>
                        <td><a href="https://www.cecile.co.jp/feature/bargain/mens/hot/" target="_blank"><img src="/static/photos/feature/1.jpg"></a>
                        <td><a href="https://www.cecile.co.jp/sc/hatsuyumefuton/" target="_blank"><img src="/static/photos/feature/2.jpg"></a>
                        <td><a href="https://www.cecile.co.jp/detail/HK-3410/?micd=11309&appno=481120&miseq=2&ordno=4087" target="_blank"><img src="/static/photos/feature/3.jpg"></a>
                    <tr>
                        <td><a href="https://www.cecile.co.jp/feature/kaiteki_botoms/" target="_blank"><img src="/static/photos/feature/4.jpg"></a>
                        <td><a href="https://www.cecile.co.jp/sc/snow/" target="_blank"><img src="/static/photos/feature/5.jpg"></a>
                        <td><a href="https://www.cecile.co.jp/sc/next/" target="_blank"><img src="/static/photos/feature/6.jpg"></a>
                </table>
            </div>
            <!--
            <div class="title">あなたにおすすめの商品</div>
            <div class="feature">
                <table>
                    <tr>
                        <td><a href="https://www.cecile.co.jp/detail/MP-1857/?micd=06102&appno=179678&miseq=135&ordno=0076" target="_blank"><img src="/static/photos/item/1.webp"></a>
                        <td><a href="https://www.cecile.co.jp/detail/VQ-1253/?micd=05202&appno=273966&miseq=10&ordno=0076" target="_blank"><img src="/static/photos/item/2.webp"></a>
                        <td><a href="https://www.cecile.co.jp/detail/AR-545/?micd=05164&appno=316327&miseq=28&ordno=0076" target="_blank"><img src="/static/photos/item/3.webp"></a>
                    <tr>
                        <td><a href="https://www.cecile.co.jp/detail/PX-477/?micd=07101&appno=214282&miseq=27&ordno=0076" target="_blank"><img src="/static/photos/item/4.webp"></a>
                        <td><a href="https://www.cecile.co.jp/detail/HL-279/?micd=11301&appno=411051&miseq=441&ordno=0076" target="_blank"><img src="/static/photos/item/5.webp"></a>
                        <td><a href="https://www.cecile.co.jp/detail/JP-878/?micd=05103&appno=880033&miseq=19&ordno=0076" target="_blank"><img src="/static/photos/item/6.webp"></a>
                </table>
            </div>
            -->
            <div class="title">2020冬のトレンドコーディネート</div>
            <div class="feature">
                <table>
                    <tr>
                        <td><a href="https://www.cecile.co.jp/sc/style/component/img/l/A20MW-G044-m01-0520.jpg" target="_blank"><img src="/static/photos/coordinate/1.webp"></a>
                        <td><a href="https://www.cecile.co.jp/sc/style/component/img/l/A20MW_S02-M-01_1761.jpg" target="_blank"><img src="/static/photos/coordinate/2.webp"></a>
                        <td><a href="https://www.cecile.co.jp/sc/style/component/img/l/A20MW_SH1-M-01_2868.jpg" target="_blank"><img src="/static/photos/coordinate/3.webp"></a>
                    <tr>
                        <td><a href="https://www.cecile.co.jp/sc/style/component/img/l/A20MW-G040-m03-2424.jpg" target="_blank"><img src="/static/photos/coordinate/4.webp"></a>
                        <td><a href="https://www.cecile.co.jp/sc/style/component/img/l/A20MW-G042-m01-2304.jpg" target="_blank"><img src="/static/photos/coordinate/5.webp"></a>
                        <td><a href="https://www.cecile.co.jp/sc/style/component/img/l/A20MW_S06-M-01_0466.jpg" target="_blank"><img src="/static/photos/coordinate/6.webp"></a>
                </table>
            </div>
        </div>
        <div class="catalog" style="display:none;">
            <div class="title">2021春夏号 デジタルカタログ</div>
            <div class="feature">
                <table>
                    <tr>
                        <td><span item="11105" max="78" href="https://www.cecile.co.jp/fst/digicata/11105/"><img src="/static/photos/catalog/1.jpg"></span>
                        <td><span item="11101" max="206" href="https://www.cecile.co.jp/fst/digicata/11101/" target="_blank"><img src="/static/photos/catalog/2.jpg"></span>
                        <td><span item="11103" max="102" href="https://www.cecile.co.jp/fst/digicata/11103/" target="_blank"><img src="/static/photos/catalog/3.jpg"></span>
                    <tr>
                        <td><span item="11110" max="38" href="https://www.cecile.co.jp/fst/digicata/11110/" target="_blank"><img src="/static/photos/catalog/4.jpg"></span>
                        <td><span item="11303" max="54" href="https://www.cecile.co.jp/fst/digicata/11303/" target="_blank"><img src="/static/photos/catalog/5.jpg"></span>
                        <td><span item="11201" max="182" href="https://www.cecile.co.jp/fst/digicata/11201/" target="_blank"><img src="/static/photos/catalog/6.jpg"></span>
                    <tr>
                        <td><span item="11301" max="94" href="https://www.cecile.co.jp/fst/digicata/11301/" target="_blank"><img src="/static/photos/catalog/7.jpg"></span>
                        <td><span item="11203" max="38" href="https://www.cecile.co.jp/fst/digicata/11203/" target="_blank"><img src="/static/photos/catalog/8.jpg"></span>
                </table>
            </div>
            <div class="title">2020真冬号 デジタルカタログ</div>
            <div class="feature">
                <table>
                    <tr>
                        <td><span item="07102" max="126" href="https://www.cecile.co.jp/fst/digicata/07102/" target="_blank"><img src="/static/photos/catalog/9.jpg"></span>
                        <td><span item="07105" max="118" href="https://www.cecile.co.jp/fst/digicata/07105/" target="_blank"><img src="/static/photos/catalog/10.jpg"></span>
                        <td><span item="07101" max="110" href="https://www.cecile.co.jp/fst/digicata/07101/" target="_blank"><img src="/static/photos/catalog/11.jpg"></span>
                    <tr>
                        <td><span item="07103" max="86" href="https://www.cecile.co.jp/fst/digicata/07103/" target="_blank"><img src="/static/photos/catalog/12.jpg"></span>
                        <td><span item="07106" max="126" href="https://www.cecile.co.jp/fst/digicata/07106/" target="_blank"><img src="/static/photos/catalog/13.jpg"></span>
                        <td><span item="07303" max="78" href="https://www.cecile.co.jp/fst/digicata/07303/" target="_blank"><img src="/static/photos/catalog/14.jpg"></span>
                    <tr>
                        <td><span item="07201" max="62" href="https://www.cecile.co.jp/fst/digicata/07201/" target="_blank"><img src="/static/photos/catalog/15.jpg"></span>
                        <td><span item="07301" max="46" href="https://www.cecile.co.jp/fst/digicata/07301/" target="_blank"><img src="/static/photos/catalog/16.jpg"></span>
                        <td><span item="07202" max="46" href="https://www.cecile.co.jp/fst/digicata/07202/" target="_blank"><img src="/static/photos/catalog/17.jpg"></span>
                    <tr>
                        <td><span item="07110" max="46" href="https://www.cecile.co.jp/fst/digicata/07110/" target="_blank"><img src="/static/photos/catalog/18.jpg"></span>
                </table>
            </div>
        </div>
        <div class="lenz" style="display:none;">
            <div class="camera"><i class="material-icons">person_search</i><p>ファッションレンズ</p></div>
            <input type="file" id="camera_data" style="display:none;">
            <section id="camera-lenz" style="display:none;">
                <div class="title-s">撮影した写真</div>
                <div class="photo"><img src="/static/photos/camera/photo.jpg"></div>
                <div class="loader"><img src="/static/images/load.gif"></div>
            </section>
            <section id="search-result" style="display:none;">
                <div class="title">検索結果</div>
                <div class="title-s">（商品）</div>
                <div class="feature">
                    <table>
                        <tr>
                            <td><a href="https://www.cecile.co.jp/detail/MW-3304/" target="_blank"><img src="/static/photos/camera/1.jpg"></a>
                            <td><a href="https://www.cecile.co.jp/detail/MW-3290/" target="_blank"><img src="/static/photos/camera/2.jpg"></a>
                            <td><a href="https://www.cecile.co.jp/detail/MW-2894/" target="_blank"><img src="/static/photos/camera/3.jpg"></a>
                        <tr>
                            <td><a href="https://www.cecile.co.jp/detail/MW-3311/" target="_blank"><img src="/static/photos/camera/4.jpg"></a>
                            <td><a href="https://www.cecile.co.jp/detail/MW-2612/" target="_blank"><img src="/static/photos/camera/5.jpg"></a>
                            <td>
                    </table>
                </div>
                <div class="title-s">（カタログ）</div>
                <div class="feature">
                    <table>
                        <tr>
                            <td><a href="https://www.cecile.co.jp/site/cmdtyinfo/digicata/ListSrv.jsp?micd=07102&pgno=38" target="_blank"><img src="/static/photos/catalog/9.jpg"></a>
                            <td><a href="https://www.cecile.co.jp/site/cmdtyinfo/digicata/ListSrv.jsp?micd=07106&pgno=66" target="_blank"><img src="/static/photos/catalog/13.jpg"></a>
                            <td><a href="https://www.cecile.co.jp/site/cmdtyinfo/digicata/ListSrv.jsp?micd=07110&pgno=30" target="_blank"><img src="/static/photos/catalog/18.jpg"></a>
                    </table>
                </div>
            </section>
            <div class="camera-history"><i class="material-icons">history</i><p>撮影履歴</p></div>
            <div class="history">
                <table>
                    <tr>
                        <td name="history_sample2.jpg"><img src="/static/photos/camera/h1.jpg">
                        <td name="history_sample1.jpg"><img src="/static/photos/camera/h2.jpg">
                        <td name="history_sample3.jpg"><img src="/static/photos/camera/h3.webp">
                        <td>
                        <td>
                </table>
            </div>
        </div>
        <div class="chat" style="display:none;">
            <div class="line__left">
                <figure>
                    <img src="/static/photos/chat/chat.png" />
                </figure>
                <div class="line__left-text">
                    <div class="name">セシール</div>
                    <div class="text">カタログ番号をおっしゃってください</div>
                </div>
            </div>
            <div class="line__right">
                <div class="text">1790</div>
                <span class="date">既読<br>0:30</span>
            </div>
            <div class="line__left">
                <figure>
                    <img src="/static/photos/chat/chat.png" />
                </figure>
                <div class="line__left-text">
                    <div class="name">セシール</div>
                    <div class="text">２０真冬プランプ カタログですね<br />間違いなければ【申し込み番号】をおっしゃってください</div>
                </div>
                <div class="line__left">
                    <div class="stamp"><img src="/static/photos/chat/catalog.jpg" /></div>
                </div>
            </div>
            <div class="line__right">
                <div class="text">274667</div>
                <span class="date">既読<br>0:30</span>
            </div>
            <div class="line__left">
                <figure>
                    <img src="/static/photos/chat/chat.png" />
                </figure>
                <div class="line__left-text">
                    <div class="name">セシール</div>
                    <div class="text">【ぽっちゃりさんサイズ】ミックスカラーニットですね</div>
                </div>
                <div class="line__left">
                    <div class="stamp"><img src="/static/photos/chat/item.jpg" /></div>
                </div>
            </div>
            <div class="line__left">
                <figure>
                    <img src="/static/photos/chat/chat.png" />
                </figure>
                <div class="line__left-text">
                    <div class="name">セシール</div>
                    <div class="text">間違いなければ次の中から【カラー番号】をおっしゃってください<br />
                    1. オフホワイト<br />
                    2. アッシュグリーン
                    </div>
                </div>
            </div>
            <div class="line__right">
                <div class="text">1</div>
                <span class="date">既読<br>0:30</span>
            </div>
            <div class="line__left">
                <figure>
                    <img src="/static/photos/chat/chat.png" />
                </figure>
                <div class="line__left-text">
                    <div class="name">セシール</div>
                    <div class="text">1の【オフホワイト】ですね<br />
                    間違いなければ次の中から【サイズ番号】をおっしゃってください<br />
                    1. L<br />
                    2. LL<br />
                    3. 3L<br />
                    4. 4L
                    </div>
                </div>
            </div>
            <div class="line__right">
                <div class="text">2</div>
                <span class="date">既読<br>0:30</span>
            </div>
            <div class="line__left">
                <figure>
                    <img src="/static/photos/chat/chat.png" />
                </figure>
                <div class="line__left-text">
                    <div class="name">セシール</div>
                    <div class="text">2の【LL】ですね<br />
                    間違いなければ【注文数】をおっしゃってください
                    </div>
                </div>
            </div>
            <div class="line__right">
                <div class="text">1</div>
                <span class="date">既読<br>0:30</span>
            </div>
            <div class="line__left">
                <figure>
                    <img src="/static/photos/chat/chat.png" />
                </figure>
                <div class="line__left-text">
                    <div class="name">セシール</div>
                    <div class="text">数量は【1】ですね<br />
                    他にご注文される商品はございますか？
                    </div>
                </div>
            </div>
            <div class="line__right">
                <div class="text">ない</div>
                <span class="date">既読<br>0:30</span>
            </div>
            <div class="line__left">
                <figure>
                    <img src="/static/photos/chat/chat.png" />
                </figure>
                <div class="line__left-text">
                    <div class="name">セシール</div>
                    <div class="text">かしこまりました<br />
                    注文内容をカートに入れられますか？<br />
                    もしくはすぐに購入されますか？
                    </div>
                </div>
            </div>
            <div class="line__right">
                <div class="text">カートに入れて</div>
                <span class="date">既読<br>0:30</span>
            </div>
            <div class="line__left">
                <figure>
                    <img src="/static/photos/chat/chat.png" />
                </figure>
                <div class="line__left-text">
                    <div class="name">セシール</div>
                    <div class="text">かしこまりました<br />
                    注文内容をカートに入れさせていただきました<br />
                    <a href="https://www.cecile.co.jp/site/order/cart/CartSrv.jsp" target="_blank">【ショッピングカートを確認する】</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="toolbar" style="display:none;">
        <table>
            <tr>
                <td disp="container" class="active"><i class="material-icons">star_rate</i><p>特集</p>
                <td disp="catalog"><i class="material-icons">menu_book</i><p>カタログ</p>
        </table>
    </div>
</body>
</html>
