<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>カタログ画像検索</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Cecile Inc">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/static/css/common.css?v=0001">
  <script src="/static/js/common.js"></script>
</head>
<body>
  <div id="contents">
    <header>
      <h3>カタログ画像検索</h3>
      <div class="settings">
        <a href="settings"><i class="material-icons submit">settings</i></a>
      </div>
    </header>
    <div class="camera">
      <div class="select_photo">
        <div>
          <div class="camera"><a href="gallery"><i class="material-icons">add_a_photo</i><br />写真を撮る</a></div>
        </div>
      </div>

      <div class="detail">
        <p>カタログの表紙やカタログ内に掲載されている商品をカメラで撮影し、その写真から商品の検索を行うサービスです。<br />
        上のカメラアイコンを選択し、検索する写真を撮影してください。</p>
      </div>
    </div>
</body>
</html>
