<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>カタログ画像検索</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Cecile Inc">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/static/css/common.css?v=0001">
  <script src="/static/js/common.js"></script>
</head>
<body>
  <div id="contents">
    <header class="sub">
      <div class="settings">
        <a href="settings"><i class="material-icons submit">settings</i></a>
      </div>
      <img src="/static/images/logo.gif">
      <h3>カタログ画像検索</h3>
    </header>
    <div class="camera_main">
      <div class="select_photo">
        <a href="gallery"><i class="material-icons">add_a_photo</i><br />写真を撮る</a>
      </div>
      <div class="detail">
        <p>カタログ誌面を上の「写真を撮る」から、撮影（機種によっては撮影後に保存）してください。<br />撮影した商品を検索できます。</p>
      </div>
      <div class="history_menu">
        <a href="history"><i class="material-icons">camera</i>過去に撮影した写真をみる</a>
      </div>
    </div>
</body>
</html>
