<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>設定</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Cecile Inc">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/static/css/common.css?v=0001">
  <script src="/static/js/common.js"></script>
</head>
<body>
  <div id="contents">
    <header class="sub">
      <div class="settings">
        <a href="exit"><i class="material-icons submit">cancel</i></a>
      </div>
      <img src="/static/images/logo.gif">
    </header>
    <div class="title catalog">ご利用情報</div>
    <ol class="settings">
      <li>
        <a href="https://www.cecile.co.jp/fst/guide/">
          <div class="icon"><i class="material-icons submit">auto_stories</i></div>
          <div>
            <p class="title">ご利用ガイド</p>
            <p><span>セシールのご利用ガイドは、こちらからご確認いただけます。</span></p>
          </div>
        </a>
      <li>
        <a href="https://faq.cecile.co.jp/?site_domain=default">
          <div class="icon"><i class="material-icons submit">how_to_vote</i></div>
          <div>
            <p class="title">お問い合わせ</p>
            <p><span>よくある質問とお問い合わせは、こちらからご確認いただけます。</span></p>
          </div>
        </a>
      <li>
        <a href="https://www.cecile.co.jp/fst/guide/terms/">
          <div class="icon"><i class="material-icons submit">import_contacts</i></div>
          <div>
            <p class="title">セシールご利用規約</p>
            <p><span>セシールの通信販売を利用される場合は、本規約の内容に同意のうえご利用ください。</span></p>
          </div>
        </a>
      <li>
        <a href="https://www.cecile.co.jp/fst/guide/privacy/">
          <div class="icon"><i class="material-icons submit">policy</i></div>
          <div>
            <p class="title">プライバシーポリシー</p>
            <p><span>プライバシーポリシーでは、株式会社セシールの個人情報保護についての取り組みをご案内しています。</span></p>
          </div>
        </a>
      <li>
        <a href="https://www.cecile.co.jp/fst/guide/rule/">
          <div class="icon"><i class="material-icons submit">description</i></div>
          <div>
            <p class="title">特定商取引法に基づく表示</p>
            <p><span>株式会社セシールの特定商取引法に基づく表示については、こちらからご確認いただけます。</span></p>
          </div>
        </a>
    </ol>
    <div class="title catalog">設定</div>
    <ol class="settings">
      <li>
        <a href="push_settings">
          <div class="icon"><i class="material-icons submit">task_alt</i></div>
          <div>
            <p class="title">プッシュ通知の設定</p>
            <p><span>キャンペーンやセールなど、お得な情報をお知らせする通知の受信設定を行えます。</span></p>
          </div>
        </a>
      <li>
        <a href="data_reset">
          <div class="icon"><i class="material-icons submit">delete_forever</i></div>
          <div>
            <p class="title">データの削除</p>
            <p><span>カタログ画像検索の履歴、デジタルカタログの付箋リストなど、アプリで保持しているデータ、及びキャッシュを削除します。</span></p>
          </div>
        </a>
      <li>
        <a href="cache_reset">
          <div class="icon"><i class="material-icons submit">disabled_visible</i></div>
          <div>
            <p class="title">キャッシュの削除</p>
            <p><span>ホーム、デジタルカタログ、新着情報などのアプリ画面のキャッシュを削除します。</span></p>
          </div>
        </a>
      <li>
        <a href="firebase">
          <div class="icon"><i class="material-icons submit">circle_notifications</i></div>
          <div>
            <p class="title">プッシュ通知</p>
            <p><span>プッシュ通知のテストを行う端末トークンを表示します</span></p>
          </div>
        </a>
      <li class="nolink">
        <nav>
          <div class="icon"><i class="material-icons submit">build</i></div>
          <div>
            <p class="title">アプリバージョン</p>
            <p><span>2.0.0</span></p>
          </div>
        </nav>
    </ol>
  </div>
</body>
</html>
